<div class="content">
    <div class="content">
     <div class="container-fluid">
     <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 common_title">
     <h2>DISEASE MANAGEMENT</h2>
     <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy</p>
      <a href="#" class="back_to"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
     </div>
     </div>
     <div class="row">
     <div class="col-lg-3 col-sm-3 col-12">
     <div class="form-group">
     <div id="reportrange_date" class="date_range">
     <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
     <span></span> <b class="caret"></b>
     </div>
     </div>
     </div>
     <div class="col-lg-3 col-sm-3 col-12">
     <div class="form-group">
     <div class="bd-example">
     <div class="input-group">
     <div class="custom-file">
     <input class="custom-file-input" id="inputGroupFile04" type="file">
     <label class="custom-file-label" for="inputGroupFile04">Upload CSV Data</label>
     </div>
     </div>
     </div>
     </div>
     </div>
     <div class="col-lg-3 col-sm-3 col-12">
     <div class="row">
     <div class="col-lg-7 col-sm-6 col-12">
     <div class="form-group">
     <div class="bd-example">
     <div class="input-group">
     <div class="custom-file">
     <input class="custom-file-input" id="" type="disabled">
     <label class="custom-file-label custom-file-label-2" for="">Export Data</label>
     </div>
     </div>
     </div>
     </div>
     </div>
     <!--helllooo-->
     <div class="col-lg-5 col-sm-6 col-12">
      <div class="form-group">
 <button class="btn btn-primary mt-0 mb-0"  (click)= 'AdddiseaseManagement()'><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
  </div>
     </div>
     </div>
     </div>
     <div class="col-lg-3 col-sm-3 col-12">
      <div class="input-group filter_with_search form-group">
         <span class="input-group-btn">
             <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
         </span>
         <input type="text" class="form-control" name="x" placeholder="Search term...">
         <div class="input-group-btn search-panel" data-search="students">
             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               <i class="fa fa-filter" aria-hidden="true"></i>
             </button>
             <ul class="dropdown-menu" role="menu">
               <li><a data-search="all">All</a></li>
               <li><a data-search="breed">Select by Breed</a></li>
               <li><a data-search="drug">Select by Drug Name</a></li>
               <li><a data-search="disease">Select by Disease Name</a></li>
               <li class="divider"></li>
             </ul>
         </div> 
      </div> 
     </div>
     </div>
     <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12">
     <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
     <thead>
     <tr>
     <th>S.No</th>
     <th>Species</th>
     <th>Breed</th>
     <th>Age Groups</th>
     <th>Disease Name</th>
     <th>Drug Name</th>
     <th>Dose Value</th>
     <th>Actions</th>
     </tr>
     </thead>
     <tbody>
     <tr>
     <td>1</td>
     <td>Cow</td>
     <td>Red Sindhi</td>
     <td>0 - 5 Years</td>
     <td>Bovine</td>
     <td>Amoxicillin</td>
     <td>250/mg</td>
     <td>
     <i class="fa fa-file-text icon_common" onclick="window.location.href='disease_management.php';" aria-hidden="true"></i>
     <i class="fa fa-pencil-square-o icon_common" aria-hidden="true"></i>
     <i class="fa fa-trash icon_common" aria-hidden="true"></i> 
     </td>
     </tr>
     <tr>
     <td>2</td>
     <td>Cat</td>
     <td>Himalayan Cat</td>
     <td>1- 3 Years</td>
     <td>Rabies</td>
     <td>Imovax</td>
     <td>50/mg</td>
     <td>
     <i class="fa fa-file-text icon_common" onclick="window.location.href='disease_management.php';" aria-hidden="true"></i>
     <i class="fa fa-pencil-square-o icon_common" aria-hidden="true"></i>
     <i class="fa fa-trash icon_common" aria-hidden="true"></i> 
     </td>
     </tr>
     <tr>
     <td>3</td>
     <td>Dog</td>
     <td>Rottweiler</td>
     <td>1 - 7 Years</td>
     <td>Leptospirosis</td>
     <td>Maropitant</td>
     <td>20/ml</td>
     <td>
     <i class="fa fa-file-text icon_common" onclick="window.location.href='disease_management.php';" aria-hidden="true"></i>
     <i class="fa fa-pencil-square-o icon_common" aria-hidden="true"></i>
     <i class="fa fa-trash icon_common" aria-hidden="true"></i> 
     </td>
     </tr>
     </tbody>
     <tfoot>
     
     </tfoot>
     </table>
     </div>
     </div>
   </div>
 </div>
</div>
