<div class="content">
    <div class="content">
     <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 common_title">
       <h2>EDIT - STOCK CATEGORY</h2>
       <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy</p>
       <a href="#" class="back_to"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back
       </a>
       </div>
      </div>
       <form class="row">
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Animal Image">Animal Image</label>
       <div class="bd-example mt-1">
       <div class="input-group">
       <div class="custom-file">
       <input class="custom-file-input" id="inputGroupFile04" type="file">
       <label class="custom-file-label" for="inputGroupFile04">Upload Image</label>
       </div>
       </div>
       </div>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Species Name">Animal ID</label>
       <select class="selectpicker form-control">
       <option selected="selected">ID - D028852</option>
       <option value="ID - D028852">ID - D028852</option>
       <option value="ID - D028852">ID - D028852</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Species ID">Animal Type</label>
       <select class="selectpicker form-control">
       <option selected="selected">Working Dog</option>
       <option value="Working Dog">Working Dog</option>
       <option value="Working Dog">Working Dog</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Family Name">Family</label>
       <select class="selectpicker form-control">
       <option value="Canidae" selected="selected">Canidae</option>
       <option value="Canidae">Canidae</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Species">Species</label>
       <select class="selectpicker form-control">
       <option selected="Dog">Dog</option>
       <option value="Dog">Dog</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Sex">Sex</label>
       <select class="selectpicker form-control">
       <option selected="Male">Male</option>
       <option value="Female">Female</option>
       <option value="Others">Others</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Age">Age</label>
       <select class="selectpicker form-control">
       <option selected="8 Years">8 Years</option>
       <option value="10 Years">10 Years</option>
       <option value="11 Years">11 Years</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Breed">Breed</label>
       <select class="selectpicker form-control">
       <option selected="Rottweiler">Rottweiler</option>
       <option value="Rottweiler">Rottweiler</option>
       <option value="Rottweiler">Rottweiler</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Height">Height</label>
       <select class="selectpicker form-control">
       <option selected="3 Feet">3 Feet</option>
       <option value="3 Feet">3 Feet</option>
       <option value="3 Feet">3 Feet</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Weight">Weight</label>
       <select class="selectpicker form-control">
       <option selected="30 Lbs">30 Lbs</option>
       <option selected="30 Lbs">30 Lbs</option>
       <option selected="30 Lbs">30 Lbs</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Date Of Birth">Date Of Birth</label>
       <input class="form-control" id="" type="date">
       </div>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a (click)=stockmanagement() class="btn btn-fill btn-primary mb-3">
        Submit
        <div class="ripple-container"></div>
        </a><br>
       <button type="submit" class="btn btn-fill btn-default">Cancel
       <div class="ripple-container"></div>
       </button>
       </div>
       </form>
     </div>
   </div>
 </div>
