<div class="content">
    <div class="content">
     <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 common_title">
       <h2>VIEW - STOCK MANAGEMENT</h2>
       <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy</p>
       <a href="#" class="back_to"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back
       </a>
       </div>
      </div>
       <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
       <div class="grid_view">
       <h3>S.No : 01</h3>
       <div class="card mt-0">
       <div class="card-body">
       <div class="row">
       <div class="col-lg-4 col-sm-4 col-12">
       <p><span class="blue">Species Name:</span> Cow</p>
       <p><span class="blue">Family:</span> Bovidae</p>
       <p><span class="blue">Age:</span> Bovidae</p>
       </div>
       <div class="col-lg-4 col-sm-4 col-12">
       <p><span class="blue">Breed Name:</span> Red Sindhi</p>
       <p><span class="blue">Farm Name:</span> Farm Abc</p>
       <p><span class="blue">Weight:</span> 30 Kg</p>
       </div>
       <div class="col-lg-4 col-sm-4 col-12">
       <p><span class="blue">Breed ID:</span> RS -38932</p>
       <p><span class="blue">Status:</span> Active</p>
       <p><span class="blue">Height:</span> 3'2"</p>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 text-center">
       <button type="submit" (click)='stockmanagement()' class="btn btn-fill btn-primary mb-3">
        Print <div class="ripple-container"></div>
       </button>
       <br>
       <button type="submit" class="btn btn-fill btn-default">
        Cancel <div class="ripple-container"></div>
       </button>
       </div>
       </div>
     </div>
   </div>
 </div>
