
<div class="content">
    <div class="content">
     <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 common_title">
       <h2> EDIT - DISEASE MANAGEMENT</h2>
       <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy</p>
       <a  class="back_to"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back
       </a>
       </div>
      </div>
       <form class="row">
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Species Name">Species Name</label>
       <select class="selectpicker form-control">
       <option selected="selected">Species Name</option>
       <option value="Cow">Cow</option>
       <option value="Cow1">Cow1</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Breed Name">Breed Name</label>
       <select class="selectpicker form-control">
       <option selected="selected">Breed Name</option>
       <option value="Red Sindhi">Red Sindhi</option>
       <option value="Red Sindhi">Red Sindhi</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
        <label for="Breed Name">Animal ID</label>
       <select class="selectpicker form-control">
       <option selected="selected">ID-C02077</option>
       <option value="Red Sindhi">ID-C02086</option>
       <option value="Red Sindhi">ID-C02056</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="form-group">
         <label for="Breed Name">Age Groups</label>
        <select class="selectpicker form-control">
        <option selected="selected">Young</option>
        <option value="Red Sindhi">Adult</option>
        <option value="Red Sindhi">Grower</option>
        </select>
        </div>
        </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Disease Name">Disease Name</label>
       <select class="selectpicker form-control">
       <option value="Bovine" selected="selected">Bovine</option>
       <option value="Bovine">Bovine</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Breed Name">Drug Name</label>
       <select class="selectpicker form-control">
       <option selected="selected">Amoxicillin</option>
       <option value="Amoxicillin">Amoxicillin</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6">
        <label for="fromage">Dose Value</label>
        <input type="number" class="form-control" min="0" max="50" step="1">
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6">
        <label for="toage">Units</label>
        <select class="selectpicker form-control">
       <option selected="selected">Mg</option>
       <option value="Mg">Mg</option>
       </select>
       </div>
       </div>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="form-group form_group">
        <label for="Note">Samples</label>
        <input type="text" class="form-control" id="usr" placeholder="Lorem ipsum">
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="form-group form_group">
          <label for="Note">Diagonestic Reports</label>
          <input type="text" class="form-control" id="usr" placeholder="Lorem ipsum">
          </div>
          </div>
       <div class="col-lg-12 col-md-12 col-sm-12 text-center">
       <button type="submit" class="btn btn-fill btn-primary mb-3" (click)= 'diseaseManagement()'>Submit<div class="ripple-container"></div></button><br>
       <button type="submit" class="btn btn-fill btn-default">Cancel<div class="ripple-container"></div></button>
       </div>
       </form>
     </div>
   </div>
 </div>