<div class="content">
    <div class="content">
     <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 common_title">
       <h2>ADD - BREEDS MANAGEMENT</h2>
       <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy</p>
       <a href="#" class="back_to"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back
       </a>
       </div>
      </div>
       <form class="row">
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Species Name">Species Name</label>
       <select class="selectpicker form-control">
       <option selected="selected">Species Name</option>
       <option value="Cow">Cow</option>
       <option value="Cow1">Cow1</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Breed Name">Breed Name</label>
       <select class="selectpicker form-control">
       <option selected="selected">Breed Name</option>
       <option value="Red Sindhi">Red Sindhi</option>
       <option value="Red Sindhi">Red Sindhi</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Breed ID">Breed ID</label>
       <select class="selectpicker form-control">
       <option selected="selected">RS -38932</option>
       <option value="RS -38932">RS -38932</option>
       <option value="RS -38932">RS -38932</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Breed ID">Family</label>
       <select class="selectpicker form-control">
       <option selected="selected">Bovidae</option>
       <option value="Bovidae">Bovidae</option>
       <option value="Bovidae">Bovidae</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Farm Name">Farm Name</label>
       <select class="selectpicker form-control">
       <option selected="selected">Farm Abc</option>
       <option value="Farm Abc">Farm Abc</option>
       <option value="Farm Abc">Farm Abc</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Status">Status</label>
       <select class="selectpicker form-control">
       <option selected="selected">Status</option>
       <option value="Active">Active</option>
       <option value="Inactive">Inactive</option>
       </select>
       </div>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 text-center">
       <a (click)=breedsmanagement() class="btn btn-fill btn-primary mb-3">Submit<div class="ripple-container"></div></a><br>
       <button type="submit" class="btn btn-fill btn-default">Cancel<div class="ripple-container"></div></button>
       </div>
       </form>
     </div>
   </div>
 </div>
