<!DOCTYPE html>
<html lang="en">
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title>TANUVAS</title>
      <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
      <!--  Social tags  -->
      <link href="https://fatneedle.com/tanuvas_admin/assets/css/material-dashboard.min6c54.css?v=2.2.2" type="text/css" rel="stylesheet"/>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <!--     Fonts and icons     --> 
   </head>
   <body class="off-canvas-sidebar tanuvas">
		<div class="container_fluid">
		<div class="row">
		<div class="col-lg-2 col-sm-2 col-12">
		<img src="assets/images/Group_1291.png" alt="" class="img-fluid"/>
		</div>
		<div class="col-lg-10 col-sm-10 col-12">
		<h3>TAMIL NADU VETERINARY AND ANIMAL SCIENCES UNIVERSITY</h3>
		<p>Madhavaram Milk Colony Road, Chennai, Tamil Nadu - 600051</p>
		</div>
		</div>
		</div>
      <div class="wrapper wrapper-full-page">
         <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('assets/images/group_1293.png')">
             <div class="container">
               <div class="row">
                  <div class="col-md-7 ml-auto mr-auto">
				  <h1>Hello,<br> Welcome back!</h1>
				  </div>
                  <div class="col-md-5 ml-auto mr-auto">
                     <div class="card card-signup">
                        <h2 class="card-title text-center">Login</h2>
                        <div class="card-body">
                           <div class="row">
                              <div class="col-md-12 mr-auto">
                                 <form class="form" method="" action="#">
                                    <div class="form-group has-default">
                                       <div class="input-group">
                                          <!--<div class="input-group-prepend">
                                             <span class="input-group-text">
                                             <i class="material-icons">mail</i>
                                             </span>
                                          </div>-->
                                          <input type="text" class="form-control" placeholder="Email...">
                                       </div>
                                    </div>
                                    <div class="form-group has-default">
                                       <div class="input-group">
                                          <!--<div class="input-group-prepend">
                                             <span class="input-group-text">
                                             <i class="material-icons">lock_outline</i>
                                             </span>
                                          </div>-->
                                          <input type="password" placeholder="Password..." class="form-control">
                                       </div>
                                    </div>
									<div class="form-group has-default text-center">
									<a routerLink="/dashboard"  class="btn btn-primary">Submit</a>
									</div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>      
   </body>
</html>
