<div class="content">
    <div class="content">
     <div class="container-fluid">
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 common_title">
       <h2>EDIT - VACCINE MANAGEMENT</h2>
       <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy</p>
       <a href="#" class="back_to"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back
       </a>
       </div>
      </div>
       <form class="row">
       <div class="col-lg-10 col-md-12 col-12 mt-lg-5 mt-sm-5 mt-3">
       <div class="row">
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Vaccination Name">Vaccination Name</label>
       <select class="selectpicker form-control">
       <option value="Maropitant">Maropitant</option>
       <option value="Maropitant">Maropitant1</option>
       </select>
       </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="form-group">
        <label for="BatcNo">Batch No</label>
        <select class="selectpicker form-control">
        <option value="B12378">B12378</option>
        <option value="B98472">B98472</option>
        </select>
        </div>
        </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 pr-1">
       <label for="fromage">From Age</label>
       <input type="number" class="form-control" min="0" max="250" step="1">
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 pl-0">
       <label for="Units">Units</label>
       <select class="selectpicker form-control">
       <option selected="selected">Mg</option>
       <option value="Mg">Mg</option>
       </select>
       </div>
       </div>
       </div>
       </div> -->
       <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="form-group">
       <label for="Vaccine Date">Active Date</label>
       <div id="reportrange_date" class="date_range mt-1">
       <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
       <span></span> <b class="caret"></b>
       </div>
       </div>
       </div>

       <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="form-group">
        <label for="Vaccine Date">Active Date</label>
        <div id="reportrange_date" class="date_range mt-1">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
        </div>
        </div>
        </div>

        <div class="form-group">
          <label for="Status">Status</label>
          <select class="selectpicker form-control">
          <option value="Active">Active</option>
          <option value="De-Active">De-Active</option>
          </select>
          </div>

       </div>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 text-center">
       <button type="submit" class="btn btn-fill btn-primary mb-3" (click)=vaccinemanagement()>Submit<div class="ripple-container"></div></button><br>
       <button type="submit" class="btn btn-fill btn-default">Cancel<div class="ripple-container"></div></button>
       </div>
       </form>
     </div>
   </div>
 </div>
